header, main, footer {
    margin: auto 0;
    text-align: center;
    border: dashed 1px #000;
    font-family: monospace;
    padding: 5px;
}
footer {
    word-break: break-all;
}
body {
    font-size: 11pt;
}
